@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll::-webkit-scrollbar{
  display:none;
  }

.posSnL{
  position:absolute;
  margin-left:calc(35% - 50px);
  
}

@media (min-width: 0px) and (max-width: 900px) {
    .rani{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
  }

  @media (min-width: 0px) and (max-width: 390px) {
   .charu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color:transparent;
   }
   
 }

 /* 'range': {'min':'0px','max':'433px'}, */

 /* @media (min-width: 0px) and (max-width: 433px) {
  .hresp{
     padding-left:10 px;

  }
 }  */

  @media (min-width: 0px) and (max-width: 600px) {
    .posSnL{
      position:absolute;
      margin-left:calc(15% - 20px);
      
      
    }
  
}

@media (min-width: 0px) and (max-width: 505px) {
  .proRes{
    width: 300px;
    
    
  }
}